﻿
.navbar-fixed-left {
    width: 12em;
    position: fixed;
    border-radius: 0;
    height: 100%;
}
body > nav > a {
    color: #00c2f6 !important;
}
.navbar-brand {
    font-weight: 400;
    margin: 30px !important;
    margin-bottom: 50px;
    font: 600 1em "Oswald", sans-serif !important;
}
.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 200px;
}
        .navbar-fixed-left .navbar-nav > li>a{
            color:white;
        }
            .navbar-fixed-left .navbar-nav > li > a:hover {
                color: #00c2f6
            }
#correct,#apply {
    margin:5px;
    cursor:pointer
}