﻿
body {
    font: 300 20px 'Roboto', sans-serif;
    color: black;
    outline: none !important;
    height:100%;
}

.disp-none {
    display: none !important;
}

.margins {
    width: 100% !important;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2em;
    padding-bottom: 2em;
    font: 400 30px 'Oswald',sans-serif;
    background: black;
    color: antiquewhite;
    text-align: center;
}
/*Модальное окно входа*/

#auth,#exit,#trans {
    border-radius: 40px;
    background: white;
    outline: none;
    color: #009aff;
    cursor: pointer;
    border: none;
    text-align: center;
    margin-right: 15px;
       height: 39px;
    width: 71px;
    text-shadow: 0.5px 0.5px 0px #07526e;
    box-shadow: inset 0px 1px 0px #07526e, 0px 1px 0px 0px #07526e, 0px 2px 1px #5d5050;
    font-size: 0.5em;
}

#exit:hover,#auth:hover,#trans:hover {
    background: #286ea9;
    color: white;
}

.navbar-right {
    margin-right: 30px;
}

/*Меню*/
.navbar-brand{
    padding:0;

}
.nav-img {
    height: 5em;
    padding-bottom: 36px;
    width: 7em;
}
.container-fluid {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#marked a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

    #marked a::before {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: yellow;
        transition: width .5s ease-in-out, left .5s ease-in-out;
        left: 50%;
        bottom: 0;
    }

    #marked a:hover {
        color: white;
    }

    #marked a::after {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: yellow;
        transition: width .5s ease-in-out, left .5s ease-in-out;
        left: 50%;
        bottom: 0;
    }

    #marked a:hover::before {
        width: 50%;
        left: 0;
    }

    #marked a:hover::after {
        width: 50%;
    }

.navbar-toggle {
    outline: none;
}

.toggle-icon {
    position: relative;
    width: 20px;
    height: 2px;
    display: block;
    background: #34343c;
}

    .toggle-icon::before {
        margin-top: 5px;
        content: '';
        position: relative;
        width: 20px;
        height: 2px;
        display: block;
        background: #34343c;
        transform: translateY(-6px);
    }

    .toggle-icon::after {
        margin-bottom: 5px;
        content: '';
        position: relative;
        width: 20px;
        height: 2px;
        display: block;
        background: #34343c;
        transform: translateY(4px);
    }

.dp-style > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
}

.dp-style > ul {
    float: left;
    color: white;
    text-transform: uppercase;
    min-width: 260px;
    background: white;
}

    .dp-style > ul > li > a {
        color: black;
    }

.dp-style > .dropdown-menu {
    display: none;
    margin: 0;
}

.dp-style:hover > .dropdown-menu {
    display: block;
}

.navbar-nav {
    font: 500 1.5em 'Roboto', sans-serif;
    text-align: center;
}

.navbar, #navbar {
    border: 0;
}


/*.navbar-brand {
    color: black ;
    text-transform: uppercase;
    font: 600 2em "Oswald", sans-serif;
    padding-bottom: 50px !important;
    padding: 0;
    font-stretch: ultra-expanded;
}*/

.bg-showed {
    background: linear-gradient(to right, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
}

.navbar-default {
    background: rgba(0,154,255,1);
    background: -moz-linear-gradient(left, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,154,255,1)), color-stop(37%, rgba(4,73,138,1)), color-stop(59%, rgba(4,73,138,1)), color-stop(100%, rgba(0,154,255,1)));
    background: -webkit-linear-gradient(left, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
    background: linear-gradient(to right, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
    border-color: #007df2;
}

body > nav > div > div.navbar-header > a {
    color: #ffffff;
    width: 16rem;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #abb8df;
    background-color: #007df2;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #49a3e8;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

#button-search {
    margin-left: 20px;
	margin-right:20px;
    border-radius: 40px;
    background: white;
    outline: none;
    color: #009aff;
    cursor: pointer;
    border: none;
    text-align: center;
    height: 39px;
    width: 71px;
    text-shadow: 0.5px 0.5px 0px #07526e;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 1px 0px 0px #07526e, 0px 2px 1px #5d5050;
    font-weight: 500;
    font-size: 0.5em;
}

    #button-search:hover {
        background: #008ded;
        color: white;
    }

#text-search {
    outline: none;
    border-radius: 20px;
    text-align: center;
	height:30px;
	width:200px;
	font-size:20px;
}
.search-block{
margin-right:20px;
}

/*Лого*/
.site-logo {
    width: 15rem;
    margin-bottom: 10px;
}
/*Карусель*/


.carousel-fade .carousel-inner .item {
    opacity: 0.5;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel {
    margin-top: 80px;
    height: auto;
}

.carousel-caption {
    font: 300 2rem 'Fira Sans',sans-serif;
}

.arrow1, .arrow2 {
    text-align: center;
}

.arrow2 {
    transform: rotateY(180deg);
}

/*Картинки*/

.loop {
    margin: 30px;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
    width: 10rem;
}

    .loop:hover {
        width: 15rem;
    }

.links {
    outline: none;
}

/*Footer*/
footer {
    background: rgba(0,154,255,1);
    background: -moz-linear-gradient(left, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,154,255,1)), color-stop(37%, rgba(4,73,138,1)), color-stop(59%, rgba(4,73,138,1)), color-stop(100%, rgba(0,154,255,1)));
    background: -webkit-linear-gradient(left, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
    background: linear-gradient(to right, rgba(0,154,255,1) 0%, rgba(4,73,138,1) 37%, rgba(4,73,138,1) 59%, rgba(0,154,255,1) 100%);
    min-height: 350px;
    font-family: 'Roboto', sans-serif;
}

.footerleft {
    margin-top: 50px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 21px;
    color: #fff;
    font-weight: 700;
}

.footerleft p {
    color: #fff;
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

    .footerleft p i {
        width: 20px;
        color: white;
    }


.paddingtop-bottom {
    margin-top: 50px;
}


.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

    .footer-ul span {
        color: white;
    }

    .footer-ul li {
        line-height: 29px;
        font-size: 12px;
        color: white;
    }

        .footer-ul li a {
            cursor: pointer;
            color: #ffffff;
            transition: color 0.2s linear 0s, background 0.2s linear 0s;
            text-decoration: none
        }

    .footer-ul i {
        margin-right: 10px;
    }

    .footer-ul li a:hover {
        transition: color 0.2s linear 0s, background 0.2s linear 0s;
        color: cyan;
    }


.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}




.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

    .icon-ul li {
        line-height: 75px;
        width: 100%;
        float: left;
    }

.icon {
    float: left;
    margin-right: 5px;
}
.treeview .icon {
    float:right;
}

.copyright {
    min-height: 105px;
    background-color: #000000;
}

    .copyright p {
        margin-top: 30px;
    }

    .copyright p {
        text-align: left;
        color: #FFF;
        padding: 10px 0;
        margin-bottom: 0px;
    }

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 22px;
    text-align: center;
}


.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}

    .post p span {
        display: block;
        color: #ffffff;
    }

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

    .bottom_ul li {
        float: left;
        line-height: 40px;
    }

        .bottom_ul li:after {
            content: "/";
            color: #FFF;
            margin-right: 8px;
            margin-left: 8px;
        }

        .bottom_ul li a {
            color: #FFF;
            font-size: 12px;
        }

blockquote a {
    color: white;
    text-decoration: !important;
}
/*Оверлеи в новостях*/


.overlay-content {
    z-index: 16;
    position: absolute;
    bottom: 200px;
    right: 100%;
    background: white;
    text-align: left;
    border: 3px solid;
    border-radius: 5px;
    display: none;
    width: 36em;
    height: 10em;
    -webkit-animation: border-color 7s ease-in-out infinite;
    -moz-animation: border-color 7s ease-in-out infinite;
    -o-animation: border-color 7s ease-in-out infinite;
    animation: border-color 7s ease-in-out infinite;
}

/*Страницы и текст*/
#text {
    padding-bottom: 20px;
}
.lists {
    list-style-type: none;
    margin-top: 20px;
}

    .lists li:before {
        content: '\25BA';
        color: #009aff;
    }

.image-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.format {
    padding-top: 122px;
    padding-bottom: 50px;
}

.list-group-item {
    font: 400 17px 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none
}

    .list-group-item a {
        text-decoration: none
    }

.font-100 {
    font: 300 'Fira Sans',sans-serif;
    line-height: 25px;
}

.clearfix {
    display: none;
}



/*Новости*/
.head-news h1 {
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font: 400 3em 'Oswald', sans-serif;
    border-bottom: 2px groove #000;
}
.news{
     margin-top:50px;
 }
.item-list {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #008fef;
    cursor:pointer;
    position:relative;
    display:block;
    margin:30px 0;
}
    .item-list:hover {
        background-color: #008fef;
        transition: background-color 0.3s, color 0.3s, background 0.3s ease-out;
        -webkit-transition: background-color 0.3s, color 0.3s, background 0.3s ease-out;
        -moz-transition: background-color 0.3s, color 0.3s, background 0.3s ease-out;
        -ms-transition: background-color 0.3s, color 0.3s, background 0.3 ease-out;
    }
    .item-list:hover .circle{
        background-color:white;
    }
        .item-list:hover p {
            color: white;
        }
        .item-list:hover .glyphicon-chevron-down {
            background-position: 20px 60%;
            color: #008fef;
            -webkit-transform: translate(0, 20%);
            -moz-transform: translate(0, 20%);
            -ms-transform: translate(0, 20%);
            -o-transform: translate(0, 20%);
            transform: translate(0, 20%);
            transition: color 0.3s,transform 0.6s cubic-bezier(0.6, -0.28, 0.74, 0.05);
            -webkit-transition: color 0.3s,-webkit-transform 0.6s cubic-bezier(0.6, -0.28, 0.74, 0.05);
            -moz-transition: color 0.3s, -moz-transform 0.6s cubic-bezier(0.6, -0.28, 0.74, 0.05);
            -ms-transition: color 0.3s, -ms-transform 0.6s cubic-bezier(0.6, -0.28, 0.74, 0.05);
            -o-transition: color 0.3s, -o-transform 0.6s cubic-bezier(0.6, -0.28, 0.74, 0.05);
        }
.circle {
    display: inline-block;
    background-color: #008fef;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 5px;
    margin-top: 3px;
}

.item-list p{
    margin-top:10px;
    position:relative;
    display:inline-block;
    font: 500 20px Roboto, sans-serif;

}
.glyphicon-chevron-down {

    display: inline-block;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}
.news .collapse {
    position: absolute;
    color: black;
}
.txt-ind {
    text-indent: 1.5em !important;
}
.item-list .fa{
    padding-left:10px;
}
.item-list .time-td{
    width:15em;
    margin-bottom:30px;
}
    .item-list .name-td{
        width:40em;
    }
    /*Adaptime:media*/
    @media (max-width:361px) {
        .circle span {
            margin-left: 15px;
            margin-top: 15px;
        }
        body {
        font-size: 13px;
    }
        .item-list p {
            font-size:11px;
            text-indent:1em;
            text-justify:auto
        }
        .time-td{
            display:none
        }
        .name-td{
            text-align:center;
        }
        .item-list .fa{
            display:none
        }

    .paddingtop-bottom, .footer-ul, .post, .photo-about td, .logofooter {
        text-align: center;
    }

    #button-search {
        margin-left:0;
    }

    .carousel-caption {
        font-size: 0.8rem;
    }

    #auth {
        margin-left: 44px;
        margin-right: 0;
    }

    .carousel-caption h3 {
        font-size: 1.3rem;
    }
    .margins span {
        font-size:1.3rem;
    }
    .margins {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .container-fluid {
        margin-left: 0;
    }
}
.digital-tomorrow-item {
    background: url(images/12.svg) no-repeat 50% 0%;
    background-size: 4em;
    display: block;
    margin-bottom: 15px;
    min-height: 130px;
    padding-top: 95px;
    font-size: 100%;
    text-align: center;
}

@media (min-width:361px) and (max-width: 414px) {

    .item-list .fa {
        display: none
    }
    .item-list p {
        font-size: 12px;
        text-indent: 1em;
        text-justify: auto
    }


    .container-fluid {
        margin-left: 0;
    }
    .margins span {
        font-size: 1.3rem;
    }

    .margins {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .carousel-caption {
        font-size: 1rem;
    }


    .carousel-caption h3 {
        font-size: 1.5rem;
    }

    .paddingtop-bottom, .footer-ul, .post, .photo-about td, .logofooter {
        text-align: center;
    }
    #auth,#button-search{
        font-size:0.5em;
    }
    #auth {
        margin-left:61px;
        margin-right:0;
    }
}

@media (max-width: 767px) and (min-width:415px) {
    .item-list .time-td {
        width: 12em;
    }
    .item-list .fa {
        display: none
    }
    .item-list p {
        font-size: 13px;
        text-indent: 1em;
        text-justify: auto
    }
    #navbar {
        font-size: 0.6em;
    }
    .container-fluid{
        margin-left:0;
    }
    #link-news-1 div {
        position: absolute;
        top: 0;
        border: 1px solid #ebebeb;
        right: 100%;
        left: 0;
    }

    #button-search {
        margin-left: 0;
    }

    #auth {
        margin-left: 60px;
    }

    #auth, #button-search {
        height: 35px;
    }

    .carousel-caption {
        font-size: 1.3rem;
    }

        .carousel-caption h3 {
            font-size: 1.8rem;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #abb8df;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #abb8df;
        background-color: #007df2;
    }

    .page-header h1 {
        text-align: center !important;
    }

    .paddingtop-bottom, .footer-ul, .post, .photo-about td {
        text-align: center;
    }

    .photo-about {
        margin-top: 20px;
    }

        .photo-about img {
            float: inherit;
        }

    .site-logo {
        display: none;
    }

    .dp-style > .dropdown-menu {
        display: block;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .clearfix {
        height: 19.6rem;
        display: block;
    }

    #text-search {
        margin-top: 5px;
    }
}

@media (min-width:768px) and (max-width:993px) {
    .navbar a {
        font-size: 1.5rem;
    }

    li.list-group-item > a {
        font-size: 0.77em;
    }
    li.list-group-item {
        font-size:13px;
    }

    #text-search, #button-search {
        display: none;
    }

    #text > div > div:nth-child(2) > div.col-lg-3.col-sm-3 {
        text-align: center;
    }

    body > footer > div > div > div:nth-child(3) {
        display: none;
    }
}

@media (max-width:1255px) and (min-width:993px) {
    #text-search, #button-search {
        display: none;
    }

    #navbar {
        font-size: 0.7em;
    }
}

@media (max-width:1450px) and (min-width:1255px) {
    #button-search, #auth {
        font-size: 0.6em;
        width: 80px;
        height: 40px
    }

    #navbar {
        font-size: 0.8em;
    }
}
