﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EprosLtd</title>
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-treeview.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.min.js"></script>
    <link href="~/Content/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-treeview.min.css" rel="stylesheet" />
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/Home/scriptHome.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,300" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div id="modalWindow" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h5>Авторизация</h5>
                    <h5 class="text-hide text-success suc">Вход выполнен</h5>
                    <h5 class="text-hide text-danger error">Неверное сочетание логина и пароля</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="inputLogin">Введите логин </label>
                            <input type="text" class="form-control" id="inputLogin" placeholder="Введите логин" />
                            <div class="form-group">
                                <label class="inputPassword">Введите пароль</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль" value="" />
                            </div>
                        </div>
                        <button id="enter" type="submit" class="btn btn-default">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index"><img class="nav-img" src="~/Content/images/navbar-brand.png" alt="Главная" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="marked"><a href="~/Home/About">О компании</a></li>
                    <li id="marked"><a href="~/Home/Product">Продукты</a></li>
                    <li id="marked"><a href="~/Home/Service">Услуги</a></li>
                    <li id="marked"><a href="~/Home/Contact">Контакты</a></li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
				
                    @if (User.Identity.IsAuthenticated)
                    {
					<li>
                        <input id="text-search" type="text" placeholder="Что искать?" />
						 <input id="button-search" type="submit" class="btn btn-default" value="Найти" onclick="searchpage()" />
                    </li>
                   
                       <li><button id="exit" type="button" class="btn btn-default">Выход</button></li> 
                    <li><button id="trans" type="button" class="btn btn-default">Панель</button></li>
					
                    }
                    else
                    {
					<li class="search-block">
                        <input id="text-search" type="text" placeholder="Что искать?" />
						<input id="button-search" type="submit" class="btn btn-default" value="Найти" onclick="searchpage()" />
                    </li>
                    
                        <li>
                            <button href="#modalWindow" id="auth" class="auth btn btn-default" data-toggle="modal">Вход</button>
                        </li>
                    }
                        

                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()

    @RenderSection("scripts", required: false)
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footerleft">
                    <div class="logofooter">Информация</div>
                    <p><i class="fa fa-map-pin"></i>Наш юридический адрес: 430005, г. Саранск, ул. Коммунистическая, д. 13.</p>
                    <p><i class="fa fa-map-pin"></i>Адрес технических специалистов: 430027, г. Саранск, ул. Гагарина, д.96/1 кв. 4, тел. (8342) 54-60-30, E-mail: anblz@yandex.ru.</p>
                    <p><i class="fa fa-map-pin"></i>Почтовый адрес: 430005, г. Саранск, ул. Коммунистическая д. 54 кв.18.</p>
                   
                    <p><i class="fa fa-phone"></i> Телефон (8342) 29-06-18 </p>
                    <p><i class="fa fa-envelope"></i> E-mail : balsamovau@yandex.ru</p>
                </div>
                <div class="col-xs-6 col-sm-4 paddingtop-bottom">
                    <h6 class="heading7">Основные ссылки</h6>
                    <ul class="footer-ul">
                        <li><a href="~/Home/About"> О компании</a></li>
                        <li><a href="~/Home/Product"> Продукты</a></li>
                        <li><a href="~/Home/Service"> Услуги</a></li>
                        <li><a href="~/Home/Contact"> Контакты</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 paddingtop-bottom">
                    <h6 class="heading7">Новости</h6>
                    <div class="post" >
                        <ul class="footer-ul" id="footer-news" ></ul>
                    </div>
                </div>


            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p>© 2019 - Эпрос- Все права защищены</p>
            </div>

        </div>
    </div>
</body>
</html>
