﻿@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>EprosLtd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-treeview.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.min.js"></script>
    <link href="~/Content/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/Scripts/lightbox2-master/src/css/lightbox.css" rel="stylesheet"/>
    <script src="~/Scripts/lightbox2-master/src/js/lightbox.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-treeview.min.css" rel="stylesheet" />
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,300" rel="stylesheet" />
    <script src="~/Scripts/Home/scriptAdmin.js"></script>
    <link href="~/Content/AdminPanel.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-left">
        <a class="navbar-brand">Админ панель</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="marked"><a href="~/Home/Index">Вернуться</a></li>
                <li id="marked"><a href="~/Admin/About">О компании</a></li>
                <li id="marked"><a href="~/Admin/Product">Продукты</a></li>
                <li id="marked"><a href="~/Admin/Service">Услуги</a></li>
                <li id="marked"><a href="~/Admin/Contact">Контакты</a></li>
                <li id="marked"><a href="~/Admin/News">Новости</a></li>
                <li id="marked"><a href="#" class="exit" id="ext">Выход</a></li>
            </ul>
        </div>

    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
