﻿
@{
    Layout = "~/Views/AdminLayout.cshtml";
}
<script src="~/Scripts/Home/contactAdmin.js"></script>
<section id="text">
    <div class="container content format">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <img src="~/Content/images/site-logo.png" class="site-logo img-responsive" alt="">
            </div>
            <div class="col-lg-9 col-sm-9 font-100">
                <span style="float:left">
                    <a title="Главная страница" href="~/Home/Index" class="B_homeCrumb">Главная</a>
                    »&nbsp;
                </span>
                <span class="B_crumbBox">
                    <span class="B_lastCrumb">
                        <span class="B_firstCrumb">
                            <span class="B_currentCrumb">
                                Контакты
                            </span>
                        </span>

                    </span>
                </span>
                <div class="page-header"> <h1 data-bind="visible:firstHead">Контакты</h1></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
            </div>
            <div class="col-lg-9 col-sm-9 font-100">
                <div data-bind="visible:firstState">
                    <button type="button" id="correct" class="btn btn-warning btn-lg correct">Редактировать</button>
                    <button type="button" id="apply" class="btn btn-success btn-lg">Сохранить</button>
                    <div id="firstState" data-bind=' html:firstBase'></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


