﻿
@{
    Layout = "~/Views/AdminLayout.cshtml";
}
<script src='~/Scripts/Home/newsAdmin.js'></script>
<div id="modalAdd" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4>Добавление</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Введите название статьи </label>
                        <input type="text" class="form-control" id="inputName" placeholder="Введите имя" />
                        <label>Введите дату </label>
                        <input type="text" class="form-control" id="inputDate" placeholder="Введите дату" />
                    </div>
                    <button id="addNews" type="submit" data-bind="click:add" class="btn btn-info">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<section>
    <div class='container content format'>
        <div class='row'>
            <div class='col-lg-3 col-sm-3'>
                <img src='~/Content/images/site-logo.png' class='site-logo img-responsive' alt=''>
            </div>
            <div class='col-lg-9 col-sm-9'>
                <span style='float:left'>
                    <a title='Главная страница' href='/Home/Index' class='B_homeCrumb'>Главная</a>
                    »&nbsp;
                </span>
                <span class='B_crumbBox'>
                    <span class='B_lastCrumb'>
                        <span class='B_firstCrumb'>
                            <span class='B_currentCrumb'>
                                Новости
                            </span>
                        </span>
                    </span>
                </span>
                <div class='page-header'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 head-news">
                <h1>Новости</h1>
            </div>
        </div>
        <div class="row" data-bind="foreach:news">
            <div class="col-lg-12 col-sm-12">
                <div class="item-list" data-bind='attr:{"data-target":"#"+Id}' data-toggle="collapse">
                    <table>
                        <tr>
                            <td class="time-td">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <p data-bind="text:Date"></p>
                            </td>
                            <td class="name-td">
                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                                <p data-bind="text:Name"></p>
                            </td>
                            <td>
                                <div class="circle"><span class="glyphicon glyphicon-chevron-down"></span></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="collapse" data-bind="attr:{id:Id}">
                    <p class="txt-ind" data-bind="attr:{id:'state'+Id}, html:Content"></p>
                    <button type="button" id="correct" class="btn btn-warning btn-lg correct" data-bind="click:$parent.correct">Редактировать</button>
                    <button type="button" id="apply" class="btn btn-success btn-lg apply" data-bind="click:$parent.save">Сохранить</button>
                    <button type="button" id="delete" class="btn btn-danger btn-lg delete" data-bind="click:$parent.delete">Удалить всю запись</button>
                </div>
            </div>
        </div>
        <button href="#modalAdd" type="button" id="add" class="btn btn-info btn-lg add" data-toggle="modal">Добавить пункт меню</button>
    </div>
</section>

