﻿
@{
    Layout = "~/Views/AdminLayout.cshtml";
}
<script src="~/Scripts/Home/serviceAdmin.js"></script>
<div id="modalAdd" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4>Добавление</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Введите название статьи </label>
                        <input type="text" class="form-control" id="inputName" placeholder="Введите имя" />
                    </div>
                    <button id="addService" type="submit" data-bind="click:add" class="btn btn-info">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<section id="text">
    <div class="container content format">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <img src="~/Content/images/site-logo.png" class="site-logo img-responsive" alt="">
            </div>
            <div class="col-lg-9 col-sm-9 font-100">
                <span style="float:left">
                    <a title="Главная страница" href="Home/Index" class="B_homeCrumb">Главная</a>
                    »&nbsp;
                </span>
                <span class="B_crumbBox">
                    <span class="B_lastCrumb">
                        <span class="B_firstCrumb">
                            <span class="B_currentCrumb">
                                Услуги
                            </span>
                        </span>
                    </span>
                </span>
                <div class="page-header">
                    <h1 data-bind="text:state"></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3" id="tree">
            </div>
            <div class="col-lg-9 col-sm-9 font-100">
                <div>
                    <button type="button" id="correct" class="btn btn-warning btn-lg correct" data-bind="click:correct">Редактировать</button>
                    <button type="button" id="apply" class="btn btn-success btn-lg apply" data-bind="click:save">Сохранить</button>
                    <button type="button" id="delete" class="btn btn-danger btn-lg delete" data-bind="click:del">Удалить пункт меню</button>
                    <button href="#modalAdd" type="button" id="add" class="btn btn-info btn-lg add" data-toggle="modal">Добавить пункт меню</button>
                    <div id="state" data-bind="html:content, attr:{'class':Ides}">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



