﻿@{
                /**/

                ViewBag.Title = "About";

}
<script src="~/Scripts/Home/about.js"></script>

<section id="text">
    <div class="container content format">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <img src="~/Content/images/site-logo.png" class="site-logo img-responsive" alt="">
            </div>
            <div class="col-lg-9 col-sm-9">
                <span style="float:left">
                    <a title="Главная страница" href="~/Home/Index" class="B_homeCrumb">Главная</a>
                    »&nbsp;
                </span>
                <span class="B_crumbBox">
                    <span class="B_lastCrumb">
                        <span class="B_firstCrumb">
                            <span class="B_currentCrumb">
                                О компании
                            </span>
                        </span>
                    </span>
                </span>
                <div class="page-header">
                    <h1 data-bind="text:state"></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3" id="tree">
            </div>
            <div class="col-lg-9 col-sm-9 font-100">
                <div id="state" data-bind="html:content, attr:{'class':Ides}"></div>
            </div>
        </div>
    </div>
</section>

