﻿@{
    ViewBag.Title = "Contact";

}
<script src="~/Scripts/Home/contacts.js"></script>
<section id="text">
    <div class="container content format">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <img src="~/Content/images/site-logo.png" class="site-logo img-responsive" alt="">
            </div>
            <div class="col-lg-9 col-sm-9 font-100">
                <span style="float:left">
                    <a title="Главная страница" href="~/Home/Index" class="B_homeCrumb">Главная</a>
                    »&nbsp;
                </span>
                <span class="B_crumbBox">
                    <span class="B_lastCrumb">
                        <span class="B_firstCrumb">
                            <span class="B_currentCrumb">
                                Контакты
                            </span>
                        </span>
                    </span>
                    <div class="page-header"> <h1 data-bind="visible:firstHead">Контакты</h1></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3"></div>
            <div class="col-lg-9 col-sm-9 font-100">
                <div data-bind="visible:firstState,html:firstBase"></div>
            </div>

    </div>
    </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.8112443145593!2d45.153201698550184!3d54.175737124448595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4144089f4c064a47%3A0x9ee5176ce3367298!2z0YPQuy4g0JPQsNCz0LDRgNC40L3QsCwgOTYsINCh0LDRgNCw0L3RgdC6LCDQoNC10YHQvy4g0JzQvtGA0LTQvtCy0LjRjywgNDMwMDI3!5e0!3m2!1sru!2sru!4v1503645971686" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>


