﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="text">
    <div class="container content format">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <img src="~/Content/images/site-logo.png" class="site-logo img-responsive" alt="">
            </div>
            <div class="col-lg-9 col-sm-9">
                <span style="float:left">
                    <a title="Главная страница" href="~/Home/Index" class="B_homeCrumb">Главная</a>
                    »&nbsp;
                </span>
                <span class="B_crumbBox">
                    <span class="B_lastCrumb">
                        <span class="B_firstCrumb">
                            <span class="B_currentCrumb">
                                Проект "Цифровое завтра"
                            </span>
                        </span>
                    </span>
                </span>
                <div class="page-header">
                    <h1 data-bind="text:state"></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="text-center">Проект "Цифровое завтра"</h2>
            <div class="col-lg-9 col-sm-9 font-100">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(1).jpeg" style="width: 1152px; height: 815px;">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(2).jpeg" style="width: 1152px; height: 815px;">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(3).jpeg" style="width: 1152px; height: 815px;">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(4).jpeg" style="width: 1152px; height: 815px;">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(5).jpeg" style="width: 1152px; height: 815px;">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(6).jpeg" style="width: 1152px; height: 815px;">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(7).jpeg" style="width: 1152px; height: 815px;">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(8).jpeg" style="width: 1152px; height: 815px;">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(9).jpeg" style="width: 1152px; height: 1629px;">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(10).jpeg" style="width: 1152px; height: 1629px;">
                <img alt="" src="~/Content/Цифровое Завтра/Digital(11).jpeg" style="width: 1152px; height: 1629px;">
            </div>
        </div>
    </div>
</section>