﻿@{
    ViewBag.Title = "Home Page";

}
<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="~/Content/images/1(700).jpg" alt="" class="img-responsive">
            <div class="carousel-caption">
                <h3>Идеальная работа и адаптивность</h3>
                <p>
                    Наши приложения имеют прекрасную производительность, оптимизированность и адаптивность для работы с любыми браузерами,
                    любыми текстовыми редакторами и операционными системами.
                </p>
            </div>

        </div>

        <div class="item">
            <img src="~/Content/images/2(342).jpg" alt="" class="img-responsive">
            <div class="carousel-caption">
                <h3>Многолетний опыт разработки</h3>
                <p>Наши специалисты способны работать и разрабатывать в соответствии как со старыми так и современными стандартами и средствами.</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/images/3(700).jpg" alt="" class="img-responsive">
            <div class="carousel-caption">
                <h3>Поддержка продуктов</h3>
                <p>
                    Мы ведем сопровождение всех наших продуктов на высоком уровне. Вы всегда сможете позвонить нашим специалистам, задать вопрос и получить быстрое
                    и эффектинове решение проблемы.
                </p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control right" href="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container margins">
    @*<div class="row">*@
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div>
            <span><i class="fa fa-cog fa-2x fa-fw"></i> "Электронные и программные системы" (ЭПРОС) – это профессионализм, компетентность, работоспособность, ответственность, надежность и порядочность</span>
        </div>

    </div>
    @*</div>*@
</div>
<div class="container-fluid" style="background-color:#4b544d36; padding-top:15px; padding-bottom:15px; margin:0">
    <div class="row">
        <div class="col-sm-12">
            <a href="~/Home/DigitalTomorrow" class="digital-tomorrow-item">Проект"Цифровое завтра"</a>
        </div>
    </div>
</div>


