﻿
@{
    ViewBag.Title = "News";
}
<script src='~/Scripts/Home/news.js'></script>
<section>
    <div class='container content format'>
        <div class='row'>
            <div class='col-lg-3 col-sm-3'>
                <img src='~/Content/images/site-logo.png' class='site-logo img-responsive' alt=''>
            </div>
            <div class='col-lg-9 col-sm-9'>
                <span style='float:left'>
                    <a title='Главная страница' href='/Home/Index' class='B_homeCrumb'>Главная</a>
                    »&nbsp;
                </span>
                <span class='B_crumbBox'>
                    <span class='B_lastCrumb'>
                        <span class='B_firstCrumb'>
                            <span class='B_currentCrumb'>
                                Новости
                            </span>
                        </span>
                    </span>
                </span>
                <div class='page-header'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 head-news">
                <h1>Новости</h1>
            </div>
        </div>
        <div class="row" data-bind="foreach:news">
            <div class="col-lg-12 col-sm-12">
                <div class="item-list" data-bind='attr:{"data-target":"#"+Id}' data-toggle="collapse">
                    <table>
                        <tr>
                            <td class="time-td">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <p data-bind="text:Date"></p>
                            </td>
                            <td class="name-td">
                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                                <p data-bind="text:Name"></p>
                            </td>
                            <td >
                                <div class="circle"><span class="glyphicon glyphicon-chevron-down"></span></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="collapse" data-bind=" attr:{id:Id}">
                    <p class="txt-ind" data-bind="text:Content"></p>
                </div>
            </div>
        </div>
    </div>
</section>

